Data Wrangling with Python using pandas

In [11]:
#pip install pandas 
#python -m pip install pandas  or py -m pip install pandas

import pandas as pd #--> Pandas as dataframe
import numpy as np
data ={
    'Name': ['S1','S2','S3','S4','S5','S6'],
    'Marks':[75,80,np.nan,45,np.nan,100], #nan-> Not a number
    'Gender':['M','F','F','M','F','M']
}
data2 ={
    'Name': ['S1','S2','S3','S4','S5','S6'],
    'Interest':['DS','ML','AI','ML','DS','SD']
}
d=pd.DataFrame(data)
#print(d)
d2=pd.DataFrame(data2)
#print(d2)

In [13]:
#Dealing with missing data
#isnull -> checking the null data in your df

print(d.isnull())
print(d2.isnull())

#Handle the Null or missing value

   # 1.Deleting
   # 2.Fill with another value

print(d.fillna(0)) #--> Filling null value with 0
print(d)

    Name  Marks  Gender
0  False  False   False
1  False  False   False
2  False   True   False
3  False  False   False
4  False   True   False
5  False  False   False
    Name  Interest
0  False     False
1  False     False
2  False     False
3  False     False
4  False     False
5  False     False
  Name  Marks Gender
0   S1   75.0      M
1   S2   80.0      F
2   S3    0.0      F
3   S4   45.0      M
4   S5    0.0      F
5   S6  100.0      M
  Name  Marks Gender
0   S1   75.0      M
1   S2   80.0      F
2   S3    NaN      F
3   S4   45.0      M
4   S5    NaN      F
5   S6  100.0      M

In [17]:
#Reshaping the data
# M - 0 , F - 1 
d['Gender']=d['Gender'].map({'M':0,'F':1})
print(d)

  Name  Marks  Gender
0   S1   75.0       0
1   S2   80.0       1
2   S3    NaN       1
3   S4   45.0       0
4   S5    NaN       1
5   S6  100.0       0

In [19]:
#Filtering data
f=d[d['Marks']>=80]
print(f)

  Name  Marks  Gender
1   S2   80.0       1
5   S6  100.0       0

In [22]:
#Grouping
g=d.groupby('Marks')
print(g.get_group(80))

  Name  Marks  Gender
1   S2   80.0       1

In [24]:
#Merging
m=pd.merge(d,d2, on='Name')
print(m)

  Name  Marks  Gender Interest
0   S1   75.0       0       DS
1   S2   80.0       1       ML
2   S3    NaN       1       AI
3   S4   45.0       0       ML
4   S5    NaN       1       DS
5   S6  100.0       0       SD