Handling Missing Data	-> null , NAN , NA value 
    Trade-Offs in Missing Data Conventions
	Missing Data in Pandas
	Operating on Null Values

In [5]:
import pandas as pd
import numpy as np
npa=np.array([1,np.nan,2,3])
print(npa)
npa2=np.array([1,np.nan,2,3])
print(npa2)
# Is addition possible between npa & npa2?
print(npa+npa2)

[ 1. nan  2.  3.]
[ 1. nan  2.  3.]
[ 2. nan  4.  6.]

Operating/Handling on Null Values:
1.Detect the null value 
2.Drop the null value
3.Fill the null value

In [10]:
#Detect the null value  -> isnull(),notnull()
d=pd.DataFrame([1,np.nan,2,3])
print(d.isnull())
print(d[d.notnull()])

       0
0  False
1   True
2  False
3  False
     0
0  1.0
1  NaN
2  2.0
3  3.0

In [11]:
#Drop the null value
print(d.dropna())

     0
0  1.0
2  2.0
3  3.0

In [13]:
#Fill null values
print(d.fillna(0))
#forward fill , backward fill
print(d.fillna(method='ffill'))
print(d.fillna(method='bfill'))

     0
0  1.0
1  0.0
2  2.0
3  3.0
     0
0  1.0
1  1.0
2  2.0
3  3.0
     0
0  1.0
1  2.0
2  2.0
3  3.0

Hierarchical Indexing	
    A Multiply Indexed Series
	Methods of MultiIndex Creation
	Indexing and Slicing a MultiIndex
	Rearranging Multi-Indices
	Data Aggregations on Multi-Indices

In [17]:
#Methods of MultiIndex Creation

#a = [('California', 2000), ('California', 2010),
         #('New York', 2000), ('New York', 2010),
        # ('Texas', 2000), ('Texas', 2010)]
#b = pd.MultiIndex.from_tuples(a)
#print(b)

df = pd.DataFrame(np.random.rand(4,2), index =[['a','a','b','b'],[1,2,1,2]],
                 columns=['data1','data2'])
print(df)

a = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
b=pd.Series(a)
print(b)

        data1     data2
a 1  0.211121  0.707534
  2  0.999975  0.714541
b 1  0.216951  0.120810
  2  0.330178  0.014801
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [28]:
#Indexing and Slicing a MultiIndex


#Indexing
a = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
b=pd.Series(a)
print(b)
print(b['California',2000]) # indexing with index name and column name
print(b['New York'])# indexing with index name
print(b[b>18976457])

#Slicing ->IndexSlice

#CRUD -> C reation , R etrival , U pdation , D eletion

df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
idx=pd.IndexSlice
print(df)
print(df.loc[idx[:,1],:]) # Slicing value using index

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64
33871648
2000    18976457
2010    19378102
dtype: int64
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2010    19378102
dtype: int64
        data1     data2
a 1  0.204208  0.499045
  2  0.213550  0.778720
b 1  0.547693  0.686019
  2  0.363194  0.034964
        data1     data2
a 1  0.204208  0.499045
b 1  0.547693  0.686019

In [30]:
#Rearranging Multi-Indices -> Stack() , Unstack()

#Stacking -> Creating a multi index
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
print(df)
#Unstacking or rearranging

df.reset_index(drop=True, inplace=True)
print(df)

        data1     data2
a 1  0.644382  0.026469
  2  0.361691  0.109061
b 1  0.816906  0.841155
  2  0.342397  0.404735
      data1     data2
0  0.644382  0.026469
1  0.361691  0.109061
2  0.816906  0.841155
3  0.342397  0.404735

In [35]:
#Data Aggregations on Multi-Indices -> sum, min, max
df = pd.DataFrame([[9, 4, 8, 9],
                   [8, 10, 7, 6],
                   [7, 6, 8, 5]],
                  columns=['Maths',  'English', 
                           'Science', 'History'])
print(df.describe()) #-> Main fun of agg
print(df.sum())
g=df.groupby(by=['Maths'])
print(g.first())
print(df.agg(['sum','min','max','std']))

       Maths    English   Science   History
count    3.0   3.000000  3.000000  3.000000
mean     8.0   6.666667  7.666667  6.666667
std      1.0   3.055050  0.577350  2.081666
min      7.0   4.000000  7.000000  5.000000
25%      7.5   5.000000  7.500000  5.500000
50%      8.0   6.000000  8.000000  6.000000
75%      8.5   8.000000  8.000000  7.500000
max      9.0  10.000000  8.000000  9.000000
Maths      24
English    20
Science    23
History    20
dtype: int64
       English  Science  History
Maths
7            6        8        5
8           10        7        6
9            4        8        9
     Maths   English   Science    History
sum   24.0  20.00000  23.00000  20.000000
min    7.0   4.00000   7.00000   5.000000
max    9.0  10.00000   8.00000   9.000000
std    1.0   3.05505   0.57735   2.081666