Combining Datasets -> One or two numpy / Pd df -> Combining 	
    Concat and Append
    1.np.concatenate()  ->(num1, num2)
    2.pd.concat() -> 
        Syntax: pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True)
        
        0 Num1
        1 Num1
        2 Num1
        
        0 Num2
        1 Num2
        2 Num2
        
        concat -> 
        0 Num1
        1 Num1
        2 Num1
        3 Num2
        4 Num2
        5 Num2
        
        
	Concatenating NumPy arrays
	pd.concat
Aggregation and Grouping	
    Planets Data
	Simple Aggregation in Pandas
	GroupBy: Split, Apply, Combine

In [3]:
import pandas as pd
import numpy as np
# Series, Dataframe, Index
a=pd.Series([1,2,3],index=['a','b','c'])
b=pd.Series([6,7,8],index=['d','e','f'])
#pd.concat()
print(pd.concat([a,b]))

c=pd.DataFrame([1,2,3,4,5])
d=pd.DataFrame([6,7,8,9,10])
print(pd.concat([c,d])) # -> concat -> Will not create a address

a    1
b    2
c    3
d    6
e    7
f    8
dtype: int64
   0
0  1
1  2
2  3
3  4
4  5
    0
0   1
1   2
2   3
3   4
4   5
0   6
1   7
2   8
3   9
4  10

In [5]:
#Append -> will not create a address of its own
print(a.append(b)) #series
print(c.append(d)) # df

a    1
b    2
c    3
d    6
e    7
f    8
dtype: int64
    0
0   1
1   2
2   3
3   4
4   5
0   6
1   7
2   8
3   9
4  10

C:\Users\bjawa\AppData\Local\Temp\ipykernel_22212\1434415299.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(a.append(b)) #series
C:\Users\bjawa\AppData\Local\Temp\ipykernel_22212\1434415299.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(c.append(d)) # df

In [7]:
#np.concatenate() 
n1=np.array([0,1,2,3])
n2=np.array([4,5,6,7])
print(np.concatenate([n1,n2]))
print(np.concatenate((n1,n2)))

[0 1 2 3 4 5 6 7]
[0 1 2 3 4 5 6 7]

Merge and Join Datasets	
    Merge and Join
	Relational Algebra
	Categories of Joins
	Specification of the Merge Key
	Specifying Set Arithmetic for Joins
	The suffixes Keyword

In [14]:
#Merge and Join 
    #Merge & Join -> Large dataset
    #Concat -> Small dataset
    
#Merge-> Two df -> Atleast one same column, index
#Syntax:pd.merge(df1,df2)
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'kris', 'jennie'],
                    'hire_date': [2004, 2008, 2012, 2014]})
m=pd.merge(df1,df2)
print(m)

#Join -> inner , outer , left , right
#Specifying Set Arithmetic for Joins
print(pd.merge(df1,df2,how='inner'))
print(pd.merge(df1,df2,how='outer'))
print(pd.merge(df1,df2,how='left'))
print(pd.merge(df1,df2,how='right'))

  employee        group  hire_date
0      Bob   Accounting       2008
1     Lisa  Engineering       2004
  employee        group  hire_date
0      Bob   Accounting       2008
1     Lisa  Engineering       2004
  employee        group  hire_date
0      Bob   Accounting     2008.0
1     Jake  Engineering        NaN
2     Lisa  Engineering     2004.0
3      Sue           HR        NaN
4     kris          NaN     2012.0
5   jennie          NaN     2014.0
  employee        group  hire_date
0      Bob   Accounting     2008.0
1     Jake  Engineering        NaN
2     Lisa  Engineering     2004.0
3      Sue           HR        NaN
  employee        group  hire_date
0     Lisa  Engineering       2004
1      Bob   Accounting       2008
2     kris          NaN       2012
3   jennie          NaN       2014

In [22]:
#Specification of the Merge Key

df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'mark', 'rachel'],
                    'hire_date': [2004, 2008, 2012, 2014]})
df3 = pd.DataFrame({'name': ['Lisa', 'Bob', 'mark', 'rachel'],
                    'salary': [700000, 80000, 50000, 40000]})



m=pd.merge(df1,df2)
#print(m)

# on , left_on , right_on

print(pd.merge(df1,df2, on='employee'))
#group , salary of all the employee !
print(pd.merge(df1,df3, left_on='employee',right_on='name')) #two df -> shares same column data but diff column name

  employee        group  name  salary
0      Bob   Accounting   Bob   80000
1     Lisa  Engineering  Lisa  700000

In [23]:
#The suffixes Keyword -> If two Df shares same column name , with diff data -> At merging if u wanna rename column name use suffix keyword

dfc1 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [1, 2, 3, 4]}) #ccet 1
dfc2 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [3, 1, 4, 2]}) # ccet 2
print(pd.merge(dfc1, dfc2,on='name',suffixes=['_ccet1','_ccet2'] ))

   name  rank_ccet1  rank_ccet2
0   Bob           1           3
1  Jake           2           1
2  Lisa           3           4
3   Sue           4           2